<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Womens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Tops</key>
			<dict>
				<key>Sweaters &amp; Hoodies</key>
				<dict/>
				<key>Blouses</key>
				<dict/>
				<key>Cardigans</key>
				<dict/>
				<key>Shirts</key>
				<dict/>
				<key>Tanks</key>
				<dict/>
				<key>Blazers</key>
				<dict/>
			</dict>
			<key>Bottoms</key>
			<dict>
				<key>Shorts</key>
				<dict/>
				<key>Jeans</key>
				<dict/>
				<key>Pants</key>
				<dict/>
				<key>Skirts</key>
				<dict/>
				<key>Rompers</key>
				<dict/>
				<key>Leggings</key>
				<dict/>
			</dict>
			<key>Dresses</key>
			<dict>
				<key>Cocktail</key>
				<dict/>
				<key>Eventing</key>
				<dict/>
				<key>Work</key>
				<dict/>
				<key>Day</key>
				<dict/>
			</dict>
			<key>Outerwear</key>
			<dict>
				<key>Blazers</key>
				<dict/>
				<key>Goats &amp; Jackets</key>
				<dict/>
				<key>Vests</key>
				<dict/>
			</dict>
			<key>Underwear</key>
			<dict>
				<key>Socks</key>
				<dict/>
				<key>Bras</key>
				<dict/>
				<key>Shapewear</key>
				<dict/>
				<key>Panties</key>
				<dict/>
			</dict>
			<key>Activewear</key>
			<dict>
				<key>Sports Bras</key>
				<dict/>
				<key>Tops</key>
				<dict/>
				<key>Bottoms</key>
				<dict/>
				<key>Jackets &amp; Hoodies</key>
				<dict/>
			</dict>				
			<key>Swimwear</key>
			<dict>
				<key>One-Piece</key>
				<dict/>
				<key>Two-Piece</key>
				<dict/>
			</dict>				
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Heels</key>
			<dict/>
			<key>Flats</key>
			<dict/>
			<key>Wedges</key>
			<dict/>
			<key>Boots &amp; Booties</key>
			<dict/>
			<key>Athletic</key>
			<dict/>
			<key>Sandals</key>
			<dict/>
		</dict>
		<key>Accessories</key>
		<dict>
			<key>Watches</key>
			<dict/>
			<key>Belts</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Eyewear</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Umbrellas</key>
			<dict/>
			<key>Hats</key>
			<dict/>
			<key>Tights</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Totes</key>
			<dict/>
			<key>Handbags</key>
			<dict/>
			<key>Backpacks</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
			<key>Briefcases</key>
			<dict/>
			<key>Clutches</key>
			<dict/>
		</dict>		
		<key>Jewelry</key>
		<dict>
			<key>Necklaces</key>
			<dict/>
			<key>Bracelets</key>
			<dict/>
			<key>Earrings</key>
			<dict/>			
			<key>Rings</key>
			<dict/>
		</dict>
	</dict>
	<key>Mens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Tops</key>
			<dict>
				<key>Sweaters &amp; Hoodies</key>
				<dict/>
				<key>Button-Down shirts</key>
				<dict/>
				<key>T-Shirts</key>
				<dict/>
				<key>Sleeveless</key>
				<dict/>
			</dict>
			<key>Bottoms</key>
			<dict>
				<key>Shorts</key>
				<dict/>
				<key>Jeans</key>
				<dict/>
				<key>Pants</key>
				<dict/>
				<key>Swimsuits</key>
				<dict/>
			</dict>
			<key>Outerwear</key>
			<dict>
				<key>Coats &amp; Jackets</key>
				<dict/>
				<key>Vests</key>
				<dict/>
			</dict>
			<key>Underwear</key>
			<dict>
				<key>Socks</key>
				<dict/>
				<key>Boxers</key>
				<dict/>
				<key>Briefs</key>
				<dict/>
				<key>Long Underwear</key>
				<dict/>
			</dict>
			<key>Activewear</key>
			<dict>
				<key>Tops</key>
				<dict/>
				<key>Bottoms</key>
				<dict/>
				<key>Jackets &amp; Hoodies</key>
				<dict/>
			</dict>
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Slip-Ons</key>
			<dict/>
			<key>Sneakers</key>
			<dict/>
			<key>Sandals</key>
			<dict/>
			<key>Boots</key>
			<dict/>
			<key>Athletic</key>
			<dict/>
		</dict>		
		<key>Accessories</key>
		<dict>
			<key>Watches</key>
			<dict/>
			<key>Cufflinks</key>
			<dict/>
			<key>Belts</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Eyewear</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Ties</key>
			<dict/>
			<key>Hats</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Briefcases</key>
			<dict/>
			<key>Laptop</key>
			<dict/>
			<key>Messenger Bag</key>
			<dict/>
			<key>Backpacks</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
		</dict>
		<key>Jewelry</key>
		<dict>
			<key>Necklaces</key>
			<dict/>
			<key>Bracelets</key>
			<dict/>
			<key>Earings</key>
			<dict/>
			<key>Rings</key>
			<dict/>
		</dict>
	</dict>
	<key>Health &amp; Beauty</key>
	<dict>
		<key>Skin</key>
		<dict/>
		<key>Vitamins</key>
		<dict/>
		<key>Supplements</key>
		<dict/>
		<key>Makeup</key>
		<dict/>
		<key>Nails</key>
		<dict/>
		<key>Hair</key>
		<dict/>						
	</dict>
	<key>Tech &amp; Gadgets</key>
	<dict>
		<key>Phones</key>
		<dict/>
		<key>Headphones &amp; Speakers</key>
		<dict/>
		<key>Laptop %2f Tablet</key>
		<dict/>
		<key>Cameras</key>
		<dict/>
	</dict>
	<key>Home</key>
	<dict>
		<key>Living</key>
		<dict/>
		<key>Workspace</key>
		<dict/>
		<key>Kitchen</key>
		<dict/>
		<key>Dining</key>
		<dict/>
		<key>Bedroom</key>
		<dict/>
		<key>Furniture</key>
		<dict/>
		<key>Lighting</key>
		<dict/>
		<key>Rug</key>
		<dict/>
		<key>Accessories</key>
		<dict/>
		<key>Outdoor</key>
		<dict/>
	</dict>
	<key>Art</key>
	<dict>
		<key>Prints</key>
		<dict/>
		<key>Photography</key>
		<dict/>
		<key>Posters</key>
		<dict/>
		<key>Reproductions</key>
		<dict/>
	</dict>
	<key>Sports &amp; Outdoors</key>
	<dict>
		<key>Exercise &amp; Fitness</key>
		<dict/>
		<key>Outdoor Recreation</key>
		<dict/>
		<key>Hunting &amp; Fishing</key>
		<dict/>
		<key>Cycling</key>
		<dict/>
		<key>Boating &amp; Water Sports</key>
		<dict/>
		<key>Team Sports</key>
		<dict/>
		<key>Fan Shop</key>
		<dict/>
		<key>Collectibles</key>
		<dict/>
		<key>Golf</key>
		<dict/>
	</dict>
	<key>Pets</key>
	<dict>
		<key>Dogs</key>
		<dict/>
		<key>Cats</key>
		<dict/>
		<key>Collars &amp; Leashes</key>
		<dict/>
		<key>Beds &amp; Gear</key>
		<dict/>
		<key>Bowls &amp; Feeders</key>
		<dict/>
		<key>Clothing</key>
		<dict/>
	</dict>
</dict>
</plist>
