<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Womens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Coats &amp; Jackets</key>
			<dict/>
			<key>Dresses</key>
			<dict/>
			<key>Lingerie</key>
			<dict>
				<key>Underwear</key>
				<dict/>
				<key>Bras</key>
				<dict/>
			</dict>
			<key>Pants</key>
			<dict/>
			<key>Shirts</key>
			<dict/>
			<key>Shorts</key>
			<dict/>
			<key>Skirts</key>
			<dict/>
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Boots</key>
			<dict/>
			<key>Flats</key>
			<dict/>
			<key>Heels</key>
			<dict/>
			<key>Sneakers</key>
			<dict/>
			<key>Wedges</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Backpacks</key>
			<dict/>
			<key>Handbags</key>
			<dict/>
			<key>Briefcases</key>
			<dict/>
			<key>Clutches</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
			<key>Shoulder Bags</key>
			<dict/>
			<key>Totes</key>
			<dict/>
		</dict>
		<key>Accessories</key>
		<dict>
			<key>Belts</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Hair</key>
			<dict/>
			<key>Hats</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Sunglasses</key>
			<dict/>
			<key>Umbrellas</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Watches</key>
			<dict/>
		</dict>
		<key>Jewelry</key>
		<dict>
			<key>Bracelets</key>
			<dict/>
			<key>Earrings</key>
			<dict/>
			<key>Necklaces</key>
			<dict/>
			<key>Rings</key>
			<dict/>
		</dict>
	</dict>
	<key>Mens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Coats &amp; Jackets</key>
			<dict/>
			<key>Pants</key>
			<dict/>
			<key>Shirts</key>
			<dict/>
			<key>Shorts</key>
			<dict/>
			<key>Underwear</key>
			<dict/>
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Boots</key>
			<dict/>
			<key>Sandals</key>
			<dict/>
			<key>Slip-Ons</key>
			<dict/>
			<key>Sneakers</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Backpacks</key>
			<dict/>
			<key>Briefcases</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
		</dict>
		<key>Accessories</key>
		<dict>
			<key>Belts</key>
			<dict/>
			<key>Cufflinks</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Hats</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Sunglasses</key>
			<dict/>
			<key>Ties</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Watches</key>
			<dict/>
		</dict>
		<key>Jewelry</key>
		<dict>
			<key>Bracelets</key>
			<dict/>
			<key>Earrings</key>
			<dict/>
			<key>Necklaces</key>
			<dict/>
			<key>Rings</key>
			<dict/>
			<key>Cuff Links</key>
			<dict/>
		</dict>
	</dict>
	<key>Health &amp; Beauty</key>
	<dict>
		<key>Makeup</key>
		<dict/>
		<key>Nails</key>
		<dict/>
		<key>Hair</key>
		<dict/>
		<key>Skin</key>
		<dict/>
		<key>Vitamins</key>
		<dict/>
		<key>Supplements</key>
		<dict/>
	</dict>
	<key>Tech &amp; Gadgets</key>
	<dict>
		<key>Phone Case</key>
		<dict/>
	</dict>
	<key>Home</key>
	<dict>
		<key>Accessories</key>
		<dict/>
		<key>Kitchen</key>
		<dict/>
		<key>Furniture</key>
		<dict/>
		<key>Lighting</key>
		<dict/>
		<key>Rugs</key>
		<dict/>
		<key>Dining</key>
		<dict/>
		<key>Living</key>
		<dict/>
		<key>Bedroom</key>
		<dict/>
		<key>Workspace</key>
		<dict/>
		<key>Outdoor</key>
		<dict/>
	</dict>
	<key>Art</key>
	<dict>
		<key>Prints</key>
		<dict/>
		<key>Photography</key>
		<dict/>
		<key>Posters</key>
		<dict/>
		<key>Reproductions</key>
		<dict/>
	</dict>
	<key>Sports &amp; Outdoors</key>
	<dict>
		<key>Exercise &amp; Fitness</key>
		<dict/>
		<key>Outdoor Recreation</key>
		<dict/>
		<key>Hunting &amp; Fishing</key>
		<dict/>
		<key>Cycling</key>
		<dict/>
		<key>Boating &amp; Water Sports</key>
		<dict/>
		<key>Team Sports</key>
		<dict/>
		<key>Fan Shop</key>
		<dict/>
		<key>Collectibles</key>
		<dict/>
		<key>Golf</key>
		<dict/>
	</dict>
	<key>Pets</key>
	<dict>
		<key>Dogs</key>
		<dict/>
		<key>Cats</key>
		<dict/>
		<key>Collars &amp; Leashes</key>
		<dict/>
		<key>Beds &amp; Gear</key>
		<dict/>
		<key>Bowls &amp; Feeders</key>
		<dict/>
		<key>Clothing</key>
		<dict/>
	</dict>
</dict>
</plist>
