<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Womens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Activewear</key>
			<dict/>
			<key>Dresses</key>
			<dict/>
			<key>Intimates</key>
			<dict/>
			<key>Outerwear</key>
			<dict/>
			<key>Pants</key>
			<dict/>
			<key>Romper</key>
			<dict/>
			<key>Shorts</key>
			<dict/>
			<key>Skirts</key>
			<dict/>
			<key>Swimwear</key>
			<dict/>
			<key>Tops</key>
			<dict/>
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Athletic</key>
			<dict/>
			<key>Boots</key>
			<dict/>
			<key>Flats</key>
			<dict/>
			<key>Heels</key>
			<dict/>
			<key>Sandals</key>
			<dict/>
			<key>Wedges</key>
			<dict/>
		</dict>
		<key>Accessories</key>
		<dict>
			<key>Belts</key>
			<dict/>
			<key>Eyewear</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Hats</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Tights</key>
			<dict/>
			<key>Umbrellas</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Watches</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Backpacks</key>
			<dict/>
			<key>Briefcases</key>
			<dict/>
			<key>Clutches</key>
			<dict/>
			<key>Handbags</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
			<key>Totes</key>
			<dict/>
		</dict>		
		<key>Jewelry</key>
		<dict>
			<key>Bracelets</key>
			<dict/>
			<key>Earrings</key>
			<dict/>
			<key>Necklaces</key>
			<dict/>			
			<key>Rings</key>
			<dict/>
		</dict>
	</dict>
	<key>Mens</key>
	<dict>
		<key>Clothing</key>
		<dict>
			<key>Activewear</key>
			<dict/>
			<key>Outerwear</key>
			<dict/>
			<key>Pants</key>
			<dict/>
			<key>Shorts</key>
			<dict/>
			<key>Swimwear</key>
			<dict/>
			<key>Tops</key>
			<dict/>
			<key>Underwear</key>
			<dict/>
		</dict>
		<key>Shoes</key>
		<dict>
			<key>Athletic</key>
			<dict/>
			<key>Boots</key>
			<dict/>
			<key>Sandals</key>
			<dict/>
			<key>Slip-Ons</key>
			<dict/>
			<key>Sneakers</key>
			<dict/>
		</dict>		
		<key>Accessories</key>
		<dict>
			<key>Belts</key>
			<dict/>
			<key>Eyewear</key>
			<dict/>
			<key>Gloves</key>
			<dict/>
			<key>Hats</key>
			<dict/>
			<key>Scarves</key>
			<dict/>
			<key>Ties</key>
			<dict/>
			<key>Wallets</key>
			<dict/>
			<key>Watches</key>
			<dict/>
		</dict>
		<key>Bags</key>
		<dict>
			<key>Backpacks</key>
			<dict/>
			<key>Briefcases</key>
			<dict/>
			<key>Laptop</key>
			<dict/>
			<key>Luggage</key>
			<dict/>
			<key>Messenger</key>
			<dict/>
		</dict>
		<key>Jewelry</key>
		<dict>
			<key>Bracelets</key>
			<dict/>
			<key>Earrings</key>
			<dict/>
			<key>Necklaces</key>
			<dict/>			
			<key>Rings</key>
			<dict/>
		</dict>
	</dict>
	<key>Health &amp; Beauty</key>
	<dict>
		<key>Hair</key>
		<dict/>
		<key>Makeup</key>
		<dict/>
		<key>Nails</key>
		<dict/>
		<key>Skin</key>
		<dict/>
		<key>Supplements</key>
		<dict/>
		<key>Vitamins</key>
		<dict/>						
	</dict>
	<key>Tech &amp; Gadgets</key>
	<dict>
		<key>Cameras</key>
		<dict/>
		<key>Headphones</key>
		<dict/>
		<key>Phones</key>
		<dict/>
		<key>Speakers</key>
		<dict/>
		<key>Wearables</key>
		<dict/>
	</dict>
	<key>Home</key>
	<dict>
		<key>Bedroom</key>
		<dict/>
		<key>Dining</key>
		<dict/>
		<key>Furniture</key>
		<dict/>
		<key>Kitchen</key>
		<dict/>
		<key>Lighting</key>
		<dict/>
		<key>Living</key>
		<dict/>
		<key>Rugs</key>
		<dict/>
		<key>Workspace</key>
		<dict/>
	</dict>
</dict>
</plist>
